
.halfbar{
    display: inline-block;    
}
.start{
    width: 60%;
}

.end{
    width: 39%;
    text-align: right;
}

nav{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    background-color: white;
    z-index: 5;
}
ul li{
    display: inline-block;
    
}
.halfbar ul li a{
    color: black;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    vertical-align: middle;
}

.halfbar ul li .button{
    background-color: #0061FF;
    color: white;
}

[class*="col"] {
    float: left;
}

.bgsct{
    background: lightblue;
}

.content{
    padding-top: 25px;
    padding-right: 60px;
     
}

.freetry{
    text-decoration: none;
    line-height: 85px; 
    color: white;
    background-color: #0061FF;
    padding: 15px;
}

.small{
    font-size: smaller;
}
.jumb-style{
    width: 90%;
    padding-left: 20px;
    padding-top: 25px;
}

.mbox{
    padding-top: 100px;
}
.label{
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.plab{
    padding-left: 20px;
}

.text-middle{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.text-grey{
    color: grey;
}

.button-style{
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 10px;
    line-height: 80px;
}

.btn-cnt{
    text-align: center;
}

hr {
    width: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
     
}

.text-link{
    padding-bottom: 20px;
}

.newl li{
    display: block;  
    padding-top: 20px;
}

.newl li a{
    text-decoration: none;
    color: black;
    line-height: ;
    font-size: smaller;
}

.nel li a{
    padding:0;
    color: white;
}

.leftp{
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
}
.colv{
    color: blue;
}
.panel{
    width: 85%;
    min-height: 800px;
    border: 1px solid black;
}

