
.halfbar{
    display: inline-block;    
}
.start{
    width: 60%;
}

.end{
    width: 39%;
    text-align: right;
}

nav{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    background-color: white;
    z-index: 5;
}
ul li{
    display: inline-block;
    
}
.halfbar ul li a{
    color: black;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    vertical-align: middle;
}

.halfbar ul li .button{
    background-color: #0061FF;
    color: white;
}

[class*="col"] {
    float: left;
}

[class*="sqr"] {
    float: left;
}
.bgsct{
    background: lightblue;
}

.content{
    padding-top: 25px;
    padding-right: 60px;
     
}

.freetry{
    text-decoration: none;
    line-height: 85px; 
    color: white;
    background-color: #0061FF;
    padding: 15px;
}

.small{
    font-size: smaller;
}
.jumb-style{
    width: 90%;
    padding-left: 20px;
    padding-top: 25px;
}

.mbox{
    padding-top: 100px;
}
.label{
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.plab{
    padding-left: 20px;
}

.text-middle{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.text-grey{
    color: grey;
}

.button-style{
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 10px;
    line-height: 80px;
}

.btn-cnt{
    text-align: center;
}

hr {
    width: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
     
}

.text-link{
    padding-bottom: 20px;
}

.newl li{
    display: block;  
    padding-top: 20px;
}

.newl li a{
    text-decoration: none;
    color: black;
    line-height: ;
    font-size: smaller;
}

.nel li a{
    padding:0;
    color: white;
}

.leftp{
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
}
.colv{
    color: blue;
}
.panel{
    width: 85%;
    min-height: 800px;
    border: 1px solid black;
}

.middlepan{
    margin:auto
}

.lastpan{
    margin-left: 15%;
}

.titlebox{
    border: 1px solid black;
    border-bottom: 0;
}

.subtitlebox{
    width: 100%;
    min-height: 200px;
    border: 1px solid black;
    position: relative;
}

.enterprisebox{
    line-height: 50px;
   
}

.boxteam{
    margin-top: 40px;
    
}

.buttonenterprise{
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    right: 30px;
    top: 27px;

}

.btn{
    
    height: 400px;
}
#img-rdms{
    width: 100%;
    height: 390px;
    object-fit: cover;
}
.newbutton{
    text-decoration: none;
    color:rgba(185, 185, 185, 0.699);
    background-color:white;
    border: 1px solid rgba(185, 185, 185, 0.699);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.margbox{
    margin-top: 120px;
}

.griglia-img{
   height: 50%;

}

.imagegirglia{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}
.dimension-img-box{
    width: 85%;
}

#arrowd{
    padding-top: 50px;
    font-size: 40px;
}

.xlmarg{
    margin-top: 300px;
}

.xlmarg h2{
    padding-bottom: 60px;
}
.blight{
    color: lightskyblue;
}

#sq-container{
    background-color: blue;
    height: 30vw;
}
.advance{
    width:40% ;
    height: 30vw;
    overflow: auto;
}

#sq-container > div:nth-child(odd){
    width: 30%;
}

.sqr{
    min-height: 300px;
    border: 1px solid black;
    background-color: blueviolet;
}

.square{
    float: left;
    width: 50%;
    height: calc(30vw / 2 - 4px) ;
    border: 1px solid;
}