
.halfbar{
    display: inline-block;    
}
.start{
    width: 60%;
}

.end{
    width: 39%;
    text-align: right;
}

nav{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    background-color: white;
    z-index: 5;
}
ul li{
    display: inline-block;
    
}
.halfbar ul li a{
    color: black;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    vertical-align: middle;
}

.halfbar ul li .button{
    background-color: #0061FF;
    color: white;
}

[class*="col"] {
    float: left;
}

.bgsct{
    background: lightblue;
}

.content{
    padding-top: 25px;
    padding-right: 60px;
     
}

.freetry{
    text-decoration: none;
    line-height: 65px; 
    color: black ;
}

.small{
    font-size: smaller;
}
.jumb-style{
    width: 90%;
    padding-left: 20px;
    padding-top: 25px;
}

.mbox{
    padding-top: 100px;
}
.label{
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.plab{
    padding-left: 20px;
}
/* .prop{
    text-align: center;
    padding-top: 20px;
    padding-left: calc(50% - 37.6px);
    font-size: 18px;
    
} */

/* .prodouct-descritpion{
    
    padding-left: 20px;
} */

/* .newl li{
    display: block;
    line-height: 40px;
    
} */
/* .boxT{
    padding-right: 40px;
} */
/* .newl li a{
    text-decoration: none;
    color: black;
    line-height: ;
    font-size: smaller;

} */

.nel li a{
    padding:0;
    line-height: 20px;
    color: white;

}

/* .button-dms{
    line-height: 120px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    font-size: smaller;
    
} */
/* .look{
    line-height: 50px;
} */
/* .markline{
    text-decoration: underline;
    color: blue;

} */
/* .sizep{
    font-size: smaller;
} */

/* hr{
    width: 50px;
   
} */